@charset "ISO-8859-1";

/* Tela de Login */
* {
	margin: 0px;
	padding: 0px;
}

body {
	background: #1C1C1C;
	font-family: Arial;
	color: white;
}

a {
	color: white;
	font-size: 12px;
}

button {
	display: block;
	width: 100px;
	height: 26px;
	font-weight: bold;
	color: white;
	background-color: #1874CD;
	border: none;
}

/* Tela Inicial */

#menuInicio{
/* 	left: 0px; */
	background: #4F4F4F;
	color: red;
}

