@charset "ISO-8859-1";

#corpoLogin {
	overflow: hidden;
}

#caixaDeLogin {
	background: #4F4F4F;
	position: absolute;
	right: 0%;
	width: 35%;
	height: 100%;
	padding-top: 10%;
}

#tabelaLogin {
	border-spacing: 40px;
	margin-left: 15%;
}

#divRefLoogin {
	margin: 0 auto;
	width: 50%;
}